@import '../../../constants/colors';

.BecomeFooter {
  background-color: $blue-dark;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.BecomeFooter__heading {
  color: #fff;
  margin-bottom: 40px;
}

.BecomeFooter__button {
  background-color: $red-one;
  color: #fff;
  font-size: 16px;
  padding: 10px 40px;
  letter-spacing: 1px;
}
