@import '../../../constants/colors';

.HowItWorks {
  padding-top: 40px;
  padding-bottom: 40px;
}

.HowItWorks__col {
  text-align: center;
}

.HowItWorks__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 20px;
}

.HowItWorks__icon {
  width: 50%;
}
